{% extends 'base.html.twig' %}

{% block title "AgenceSymf | Voir tout nos biens" %}

{% block body %}

    <div class="container mt-4">
            <h1>AgenceSymf | Nos Biens</h1>
    </div>

{% endblock %}
